.app-sider {
  font-size: 16px;
  padding: 12px;
}

.app-about-link {
  display: flex;
  align-items: baseline;
  float: left;
  margin-right: 10px;
  padding: 16px 10px;
}

.app-sider-title {
  font-size: 22px;
  color: #fff;
  text-align: left;
  padding: 10px;
}

.app-sider-link {
  position: absolute;
  bottom: 0;
}
